<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.12.0" targetFramework="net45" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net45" />
  <package id="MSBuild.ILMerge.Task" version="1.0.2" targetFramework="net45" />
  <package id="sharpcompress" version="0.11.6" targetFramework="net45" />
</packages>